<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= subheading %></p>
    <table>
      <% items.forEach((item) => { %>
        <tr>
          <td>
              <%= item.id %>
          </td>
          <td>
              <%= item.title %>
          </td>
          <td>
            <%= item.description %>
          </td>
        </tr>
        <% }); %>
      </table>
      <br></br>
      <h2><%= subheading1 %></h2>
      <list>
          <ul>
            [1] W Kenton. (2023, January 9). What Is Bootstrapping? What It Means and How It’s Used in Investing [website]. Available: https://www.investopedia.com/terms/b/bootstrapping.asp#:~:text=Bootstrapping%20describes%20a%20situation%20in,revenues%20of%20the%20new%20company.
          </ul>
          <ul>  
            [2]	Kubernetes (n.d.). Overview [website]. Available: https://kubernetes.io/docs/concepts/overview/
          </ul>
          <ul>
            [3]	Terraform. (n.d.). What is Terraform? [website]. Available: https://developer.hashicorp.com/terraform/intro
          </ul>
          <ul>
            [4]	Amazon Web Services. (n.d.). What is Docker? [website]. Available: https://aws.amazon.com/docker/#:~:text=Docker%20is%20a%20software%20platform,tools%2C%20code%2C%20and%20runtime.
          </ul>
          <ul>
            [5]	Microservice Architecture. (n.d.). What are microservices? [website]. Available: https://microservices.io/
          </ul>
          <ul>
            [6]	Red Hat. (2023, March 10). What is DevSecOps? [website]. Available: https://www.redhat.com/en/topics/devops/what-is-devsecops#:~:text=DevSecOps%20stands%20for%20development%2C%20security,throughout%20the%20entire%20IT%20lifecycle.
          </ul>
          <ul>
            [7]	D Smith, D Villalba, M Irvine, D Stanke and N Harvey, “State of DevOps 2021”, Google, 2021.
          </ul>
          <ul>
            [8]	C Marketos (2022, June 14). Avoiding the Silo of team Communication [website]. Available: https://www.helpscout.com/blog/cross-team-communication/#:~:text=A%20communication%20silo%20occurs%20when,decisions%2C%20and%20poor%20customer%20support.
          </ul>
          <ul>
            [9]	Atlassian. (n.d.) What is the Agile Methodology? [website]. Available: https://www.atlassian.com/agile
          </ul>
          <ul>
            [10]	M. Billie Nordmeyer MBA, “Three different types of Enterprise Systems,” Small Business - Chron.com, https://smallbusiness.chron.com/three-different-types-enterprise-systems-73267.html (accessed Jul. 7, 2023). 
          </ul>
          <ul> 
            [11]	“What is FinOps?,” FinOps Foundation, https://www.finops.org/introduction/what-is-finops/#:~:text=FinOps%20is%20an%20evolving%20cloud,on%20data%2Ddriven%20spending%20decisions (accessed Jul. 7, 2023). 
          </ul>
          <ul> 
            [12]	E. Project, “What is Digital Transformation?,” The Enterprisers Project, https://enterprisersproject.com/what-is-digital-transformation (accessed Jul. 7, 2023). 
          </ul>
          <ul>
            [13]	Gartner_Inc, “Definition of aiops (artificial intelligence for it operations) - gartner information technology glossary,” Gartner, https://www.gartner.com/en/information-technology/glossary/aiops-artificial-intelligence-operations (accessed Jul. 7, 2023). 
          </ul>
          <ul>
            [14]	Altvater, “What is SDLC? understand the software development life cycle,” Stackify, https://stackify.com/what-is-sdlc/ (accessed Jul. 7, 2023). 
          </ul>
          <ul>
            [15]	“What is a CI/CD pipeline?,” Red Hat - We make open source technologies for the enterprise, https://www.redhat.com/en/topics/devops/what-cicd-pipeline (accessed Jul. 7, 2023). 
          </ul>
          <ul>
            [16]	“What is monolithic architecture? definition and examples,” Talend, https://www.talend.com/resources/monolithic-architecture/ (accessed Jul. 7, 2023). 
          </ul>
          <ul>
            [17]	“Waterfall methodology: Project management | Adobe Workfront,” Adobe, https://business.adobe.com/blog/basics/waterfall (accessed Jul. 7, 2023). 
          </ul>
          <ul>
            [18]	“What is Heroku,” Heroku, https://www.heroku.com/what (accessed Jul. 7, 2023). 
          </ul>
          <ul>
            [19]	“What is customer experience (CX)?,” Oracle Australia, https://www.oracle.com/au/cx/what-is-cx/ (accessed Jul. 7, 2023). 
          </ul>
          <ul>
            [20]	“DevOps Terminology: A Glossary”, Plutora, https://www.plutora.com/devops-at-scale/terminology-glossary (accessed Aug. 11, 2023)
          </ul>
          <ul>
            [21]	“What is Commercial Off-The Shelp (COTS) Software”, Study.com, https://study.com/academy/lesson/what-is-commercial-off-the-shelf-cots-software.html (accessed Aug. 11, 2023)
          </ul>
          <ul>
            [22]	“The Accellerate State of DevOps Reports”, DevOpsDream, https://devops.games/pages/stateOfDevOps.html (accessed Aug. 11, 2023)
          </ul>
          <ul>
            [23]	“25 Microservices Terms you need to know”, DZone https://dzone.com/articles/microservices-zone-glossary (accessed Aug 15, 2023)
          </ul>
          <ul>
            [24]	“Glossary”, docker docs https://docs.docker.com/glossary/ (accessed Sept 9, 2023)
          </ul>
          <ul>
            [25]	“The Comprehensive Kubernetes Glossary”, LogicMonitor, https://www.logicmonitor.com/blog/kubernetes-glossary (accessed Sept 17, 2023)
          </ul>
        </list>
    </body>
</html>
